<!DOCTYPE html>
<% title = "Docutils Documentation Server" %>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/app.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      </header>
    <main><p>Welcome to <%= title %></p>
    <%- include('formStart', { formAction: '/doc/process' }) %>
    <div class="main-form">
      <label><span class="label">File Upload</span>
	<%- include('formUpload', { fileUploadName: 'fileUpload' }) %>
	</label>
    </div>
    <%- include('formEnd', { }) %>
    <div id="app"><%- markup %></div>
    </main>
    <script src="/mainBundle.js"></script>
  </body>
</html>
